<div class="app">

<div style="padding:35px;margin-bottom:10px;">
	<button ng-click="back()" class="ui primary button">Back</button>
</div>
<div class="ui column doubling stackable grid container">
  <div class="column page-container">
	<h2>Create Poll : </h2>
  </div>

  <div>
	<div>
		<label>Enter Option A</label>
		<input type="text"/>
	</div>
	<div>
		<label>Enter Option B</label>
		<input type="text"/>
	</div>
	<div style="padding:35px;margin-bottom:10px;">
		<button ng-click="createPoll()" class="ui primary button">Create Poll</button>
	</div>
  </div>


</div>
</div>
