
.poll-item {
	margin-bottom: 20px;
}

.error {
	color: red;
}

.page-container {
	margin:0 auto; text-align:center;
}
.username-container {
	margin-bottom:30px;
}
.standard-input {
	border-radius:5px; border:1px solid #eee; padding: 8px;	
}

.standard-button {
	padding: 15px; border:1px solid #eee;display:block;min-width:50%;margin: 0 auto;   margin-top:30px !important; margin-bottom: 30px !important;
}